#example1 {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    font-size: medium;
    width: 100%;
}

.span{
    border-radius: 05px;
}

/* #t {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    font-size: medium;
    width: 100%;
} */